<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game field</title>
</head>
<body>
    <div class="field">
        <div class="row">
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
        </div>
        <div class="row">
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
        </div>
        <div class="row">
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
        </div>
        <div class="row">
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
        </div>
        <div class="row">
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
        </div>
        <div class="popup">
            <p>Pop up window</p>
            <button class="close-button" id="close-button">Close</button>
        </div>
    </div>
    <script src="main.js"></script>
        
        
    </div>
</body>
</html>